main {
  min-height: 80vh;
}
.ml-auto {
  margin-left: auto !important;
}
h1 {
  font-size: 1.8rem;
  padding: 1rem 0;
}
h2 {
  font-size: 1.4rem;
  padding: 0.5rem 0;
}
h3 {
  padding: 1rem 0;
}
.rating span {
  margin: 0.1rem;
}
.zoom-cards {
  transition: transform 0.5s !important;
}
.zoom-cards:hover {
  transform: scale(1.05) !important;
}
